<div class='widar_note'>
<h3>Not logged into WiDaR</h3>
<div class='lead'>
<p>To play these games, you have to use WiDaR!</p>
<p>Log in <a href='/widar/index.php?action=authorize' target='_blank'>here</a>, then click <a href='#' onclick='wdgame.init();return false'>here</a> or reload this page.</p>
</div>
</div>

<div class='main_page_box' mode='info'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Wikidata - The game!</h3>
<p>Here, you can find a set of "games" that help to improve <a target='_blank' href='//www.wikidata.org'>Wikidata</a>, one statement at a time.</p>
</div>
<div class='wdgame_desc'>
Wikidata is a complex website, and has many sophisticated functions. Many actions, however, can be anticipated by a machine, and then "just" need a human to perform or deny that action.
Here, you can find many of such potential actions, and easy buttons to perform or deny them, styled as a quick game.
Just click on a game below and try it out! The games will edit Wikidata for you, under your user name, via OAuth.<br/>
Remember, however, that these games do, in essence, edit Wikidata on your behalf; you are responsible for these edits.<br/>
Every game screen has a "Not sure" button; when in doubt, don't be afraid to use it!<br/>
Please report issues and suggestions <a href='https://bitbucket.org/magnusmanske/wikidata-game/issues?status=new&status=open' target='_blank'>here</a>!
</div>
</div>

<div class='main_page_box' mode='stats'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Statistics</h3>
<p>See how you've done so far, how others have done, and how the gamification is doing.</p>
</div>
</div>


<div class='main_page_box' mode='random'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Random game</h3>
<p>A random game, from the list below, is selected each time.<br/>
Makes for more variety.</p>
</div>
</div>

<div class='main_page_box' mode='merge'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Merge items</h3>
<!--<p>Some topics have duplicate items on Wikidata. Two items with the same title or alias will be suggested to you.<br/>
Merge identical topics, tag items as different, or skip an item pair if you are not sure.</p>
-->
The merge game is temporarily deactivated, until a bug in the Wikidata API is fixed.
</div>
</div>

<div class='main_page_box' mode='person'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Person</h3>
<p>Many items about people on Wikidata have no "instance of" property.<br/>
Decide if one of them is a person, or skip the item if you are not sure.</p>
</div>
</div>

<div class='main_page_box' mode='nogender'>
<div class='mpb_icon'></div>
<div class='mpb_text'>
<h3>Gender</h3>
<p>Many items about people on Wikidata have no gender property set.<br/>
Add a sex/gender statement "male" or "female", or skip the item if you are not sure.</p>
</div>
</div>